<div mat-dialog-title class="module-header uppercase">
  <mat-icon style="vertical-align: middle;">work</mat-icon>
  {{ isReadOnly ? 'Ver Proyecto' : (project.id ? 'Editar Proyecto' : 'Agregar Proyecto') }}
</div>

<div mat-dialog-content class="flex flex-column mt-5">
  <mat-form-field appearance="fill">
    <mat-label>Título</mat-label>
    <input matInput [(ngModel)]="project.title" [disabled]="isReadOnly" />
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea matInput [(ngModel)]="project.description" [disabled]="isReadOnly"></textarea>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-fab extended style="background-color: #333;" class="uppercase" (click)="close()">
    <mat-icon>block</mat-icon>Cancelar</button>

  <button *ngIf="!isReadOnly" mat-fab extended style="background-color: #16423C;" class="uppercase" (click)="save()" cdkFocusInitial>
    <mat-icon>add</mat-icon>Guardar</button>
</div>
