<div class="main">
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title><mat-icon style="vertical-align: middle;">dashboard</mat-icon> APP
        PROTA</mat-card-title>
      <mat-card-subtitle class="uppercase">Iniciar sesión </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content class="mt-5">
      <div *ngIf="errorMessage" class="error pb-4">{{ errorMessage }}</div>

      <form (ngSubmit)="login()" [formGroup]="form" class="login-form">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="uppercase">Correo</mat-label>
          <input matInput type="text" formControlName="email" required>
          <mat-icon matSuffix>mail</mat-icon>
          <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">
            El correo es requerido.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label class="uppercase">Contraseña</mat-label>
          <input matInput type="password" formControlName="password" required>
          <mat-icon matSuffix>lock</mat-icon>
          <mat-error *ngIf="form.get('password')?.invalid && form.get('password')?.touched">
            La contraseña es requerida.
          </mat-error>
        </mat-form-field>

        <div class="button-container">
          <button mat-fab extended type="submit" style="background-color: #16423C;" class="uppercase">Iniciar Sesión
            <mat-icon style="vertical-align: middle;">login</mat-icon></button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
