.module-header {
  background-color: #16423C;
  color: white;
  text-align: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.module-header h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.module-header p {
  font-size: 16px;
  color: #16423C;
  margin-top: 5px;
}

.center-header {
  text-align: center;
}

